@import "variables";

.banner {
    background-image: url('../images/bg-min.png');
    background-repeat: no-repeat;
    background-size: cover;
    // fallback
    background-color: $base-color;

    .content {
        padding: 4.5rem 0;
        .title, .subtitle {
            color: $white;
            text-align: center;
        }
        .title {
            font-size: 3rem;
            margin: 0;
            text-shadow: 0 1px 10px rgba(0,0,0,.1), 0 0 7px rgba(0,0,0,.4);
        }
        .subtitle {
            font-size: 1rem;
            text-shadow: 0 1px 5px rgba(0,0,0,.3), 0 0 5px rgba(0,0,0,.7)
        }
    }

    .content-full {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}