@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import "variables";
@import "banner";
@import "alert";
@import "badge";
@import "footer";

body {
    background-color: $white;
    font-family: "Noto Sans KR", sans-serif;
}

h1 {
    font-weight: 900;
}
h2 {
    font-weight: 700;
}

.content {
    line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    a {
        color: $green;
        text-decoration: none;
        &:active {
            color: $green-heavy;
        }
    }
}

@mixin selection {
    ::selection { @content; }
    ::-moz-selection { @content; }
  }
  
  @include selection {
    background: $green;
    color: $white;
    text-shadow: none;
  }